#root {
  max-width: 1280px; 
  margin: 0 auto; 
  padding: 2rem; 
  text-align: center; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  max-width: 400px; 
  width: 100%;
  padding: 20px; 
  background-color: #ffffff; 
  border-radius: 8px; 
}

.input-field {
  width: 100%;
}

.swap-button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.swap-button:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

.search-button {
  width: 100%;
  margin-top: 16px;
}

.result-text {
  margin-top: 16px;
  color: blue;
}

.showInfoBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 87, 87, 0.9);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

